.projects.projects_inner.inner
  .projects__main-image
    .big-text-box
      .inner__big-text Projects
  .projects__list-wrp.mt-78
    .projects__list
      .big-text-for-bg
        .projects__list-box.title
          img.projects__item-1.projects__item-1_bg.projects__item-1_bg_rec(alt='rec', src= '../assets/images/rec.jpg')
          .projects__title.title__inner Russian Export Center
      .big-text-for-bg
        include ../big-text/big-text
        .projects__list-box.title
          img.projects__item-1.projects__item-1_bg.projects__item-1_bg_sky(alt='rec', src= '../assets/images/sky.jpg')
          .projects__title.title__inner Sky Service
    .projects__list
      .big-text-for-bg
        .projects__list-box.title
          img.projects__item-2.projects__item-2_bg.projects__item-2_bg_sber(alt='rec', src= '../assets/images/sber.jpg')
          .projects__title.title__inner Сбербанк. Инновации в транспорте
      .big-text-for-bg
        .projects__list-box.title
          img.projects__item-2.projects__item-2_bg.projects__item-2_bg_zerno(alt='rec', src= '../assets/images/zerno.jpg')
          .projects__title.title__inner II Всемирный зерновой Форум
  .projects__list-wrp.-mt-10 
    .projects__list
      .big-text-for-bg
        .projects__list-box.title
          img.projects__item-1.projects__item-1_bg.projects__item-1_bg_pol(alt='rec', src= '../assets/images/polis.jpg')
          .projects__title.title__inner Полюс золота
      .big-text-for-bg
        include ../big-text/big-text
        .projects__list-box.title
          img.projects__item-1.projects__item-1_bg.projects__item-1_bg_metal(alt='rec', src= '../assets/images/metalurgia.jpg')
          .projects__title.title__inner Металлургия 2.0. Перезагрузка трубного рынка России
    .projects__list
      .big-text-for-bg
        .projects__list-box.title
          img.projects__item-2.projects__item-2_bg.projects__item-2_bg_gpz(alt='rec', src= '../assets/images/gpz.jpg')
          .projects__title.title__inner
            | Старт реализации проекта строительства Амурского
            br
            | ГПЗ
      .big-text-for-bg
        .projects__list-box.title
          img.projects__item-2.projects__item-2_bg.projects__item-2_bg_sber-biz(alt='rec', src= '../assets/images/sber-bizness.jpg')
          .projects__title.title__inner
            | Сбербанк. Бизнес-конференция по
            br
            | продвижению продуктов
  .projects__all.mt-20 
    .projects__link Все проекты
    include ../button/button
