.slider
  .slider__wrp
    .slider__item Фирменный стиль
    progress.slider__progress-menu(max='100', value='0')
  .slider__wrp
    .slider__item Фирменный стиль
    progress.slider__progress-menu(max='100', value='0')
  .slider__wrp
    .slider__item Фирменный стиль
    progress.slider__progress-menu(max='100', value='0')
  .slider__wrp
    .slider__item Фирменный стиль
    progress.slider__progress-menu(max='100', value='0')
  .slider__wrp
    .slider__item Фирменный стиль
    progress.slider__progress-menu(max='100', value='0')
  .slider__wrp
    .slider__item Фирменный стиль
    progress.slider__progress-menu(max='100', value='0')
