mixin header-top()
  .header-top
    .header-top__box
      .header-top__logo-wrp.logo-main
        .header-top__logo.logo-main__inner
          include ../../../assets/svg/logo_weareteam.svg
      .header-top__menu
        .header-top__phone-wrp +7 (495) 200-22-44
        include ../../header/menu/header-menu
+header-top()
