.advantages {
  background-color: $black;

  &__descr {
    font-size: 30px;
    line-height: 43px;
    color: $white;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
  }

  &__item-box {
    display: flex;
    align-items: baseline;
    width: 342px;
  }

  &__item {
    font-size: 150px;
    color: $red-da;
    background: repeating-linear-gradient(60deg, transparent, transparent 2px, $red-da 2px, $red-da 6px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__title {
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: $white;
  }
}

.inner {
  &__descr {
    padding: 97px 224px;
  }

  &__list {
    padding-left: 224px;
    padding-bottom: 85px;
  }

  &__item {
    margin-right: 45px;
  }
}
