.advantages.inner
  .advantages__descr.inner__descr Среди наших постоянных клиентов – крупнейшие игроки российского рынка, министерства и подведомственные организации
  .advantages__list.inner__list
    .advantages__item-box.inner__item
      .advantages__item 100
      .advantages__title ЖИВЫХ СОБЫТИЙ
    .advantages__item-box.inner__item
      .advantages__item 100
      .advantages__title ЖИВЫХ СОБЫТИЙ
    .advantages__item-box.inner__item
      .advantages__item 100
      .advantages__title ЖИВЫХ СОБЫТИЙ