.participant.inner
  .participant__container.inner__participant
    h2.participant__member.inner__member Александр Тимофеев
    p.participant__position.inner__position Креативный директор
    p.participant__citation.inner__citation «Мы создаем креативную концепцию с нуля, поставляем техническое обеспечение и обслуживающий персонал, освещаем мероприятие в СМИ»
    .participant__about-wrp.inner__about-wrp
      .participant__about Подробнее о команде
      include ../button/button
    img.participant__pic(alt='rec', src= '../assets/images/Lisa.png')
