*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.game{
	display: block;
	/*justify-content: center;
	align-items: flex-end;
	height: 100vh;*/
	/*max-width: 800px;*/
	/*margin: 0 auto;*/
	/*background: #008000;*/
}
.game__screen_one{
	/*display: flex;
	justify-content: center;*/
}
.game__field{
	display: flex;
	justify-content: center;
}
.game__display{
	overflow: hidden;
}
.game__control{
	position: absolute;
	bottom: 0;
}
.mat__row{
	display: flex;
	background-color: #008000;
}
.mat__col{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 150px;
	width: calc(100vw / 3);
	height: 10vh;
	border: 2px solid #ffffff;
}
.mat__col_sel{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 150px;
	width: calc(100vw / 3);
	height: 10vh;
	border: 2px solid #fff;
	background-color: #0000ff;
}
.dis__row{
	display: flex;
	background-color: white;
}
.dis__col{
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	/*max-width: 150px;*/
	/*width: calc(100vw / 3);*/
	/*height: 20vh;*/
	/*border: 2px solid #fac000;*/
}
.dis__row-mini{
	display: flex;
	background-color: white;
	max-width: 150px;
    height: 50px;/*10vh*/
    width: 100px;/*calc(100vw / 3)*/
}
.dis__col_sel{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 150px;
	width: calc(100vw / 3);
	height: 20vh;
	border: 2px solid #fac000;
	background-color: #f200fa;
}
.neo{
	position: absolute;
	max-width: calc(150px * 3);
	max-height: calc(20vh * 3);
	/*background-image: url('../img/neo.png');*/
}
.neo__box{
	position: relative;
    display: flex;
    justify-content: center;
}
.bullet{
	width: 100px;
	height: 100%;
	background-color: #ffffff;
	/*border-radius: 50px;*/
	border: 1px solid black;
	/*transform: scale(2);*/
	transition: 2s;
}
.bullet_active{
	width: 100px;
	height: 100%;
	background-color: #008000;
	/*border-radius: 50px;*/
	border: 1px solid black;
	/*transform: scale(0);*/
	transition: 2s;
}

.level__no-complete{
	display: none;
	/*visibility: hidden;*/
/*	padding-top: 50vh;
	font-size: 26px;
	height: 100vh;
	width: 100%;
	text-align: center;
	background-color: #008000;
	position: absolute;
	z-index: 1;
	color: #fff;
	transition: 2s;*/
}
.level__complete{
	/*visibility: visible;*/
	display: block;
	padding-top: 40vh;
	font-size: 26px;
	height: 100vh;
	width: 100%;
	text-align: center;
	background-color: #008000;
	position: absolute;
	z-index: 1;
	color: #fff;
	transition: 2s;
}
.level__next{
	display: inline-block;
	border: 1px solid #fff;
	margin-top: 5vh;
	color: #fff;
	padding: 10px 15px;
	cursor: pointer;
}
.main__menu{
	display: block;
	padding-top: 40vh;
	font-size: 26px;
	height: 100vh;
	width: 100%;
	text-align: center;
	background-color: #008000;
	position: absolute;
	z-index: 1;
	color: #fff;
	transition: 2s;
}
.main__menu_hide{
	display: none;
}
.main__heading_non-active{
	display: block;
	transition: 2s;
}
.main__heading_active{
	display: inline-block;
	transform: translate(0, -50px);
}
.play__game{
	display: inline-block;
    border: 1px solid #fff;
    /*margin-top: 5vh;*/
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
}
.need__collect_hide{
	display: none;
}
.need__collect_show{
	position: absolute;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	height: 300px;
	z-index: 2;
}
.ghost{
	background-image: url('../img/ghost.png');
}
.key{
	background-image: url('../img/key.png');
}
.game__hint{
	margin: 0 auto;
	cursor: pointer;
	margin-bottom: 5px;
	line-height: 1.6em;
	font-size: 14px;
	width: 100px;
	height: 25px;
	text-align: center;
	color: #ffffff;
	background-color: #008000;
}