.services.ptb-112
  .services__container
    include ../slider/slider
    .services__box.services__inner.inner
      h2.services__title.inner__title Организация деловых мероприятий
      p.services__descr Оснащение мероприятия всем необходимым оборудованием, обеспечение аренды сценического, светового, звукового, видео, лазерного, энерготехнического и иного оборудования
    .services__box.services__inner
    .services__box.services__inner
    .services__box.services__inner
    .services__box.services__inner
    .services__box.services__inner
