extends ../layouts/main.pug

block content
  include ../blocks/header/header
  include ../blocks/main/main
  include ../blocks/projects/projects
  include ../blocks/advantages/advantages
  include ../blocks/services/services
  include ../blocks/participant/participant
  include ../blocks/footer/footer
