.main-container
  include ../../header/top/header-top
  //- .main-container__box
  //-   .main-container__logo-wrp.logo-main
  //-     .main-container__logo.logo-main__inner
  //-       include ../../../assets/svg/logo_weareteam.svg
  //-   .main-container__menu
  //-     .main-container__phone-wrp +7 (495) 200-22-44
  //-     include ../../header/menu/header-menu
  p.main-container__descr Мы - команда единомышленников, каждый из которых профессионал в индустрии встреч. Лучше всего о нас говорят наши клиенты и партнеры
  .main-container__descr-wrp.pl-120 Who we are
