.tabs
  .tabs__category-year.year
    .year__num 2016
      .year__stick-start
    .year__num 2017
      .year__stick
    .year__num 2018
      .year__stick-stop
    //- .tabs__category-period
    //-   .tabs__category-month
