.header.header_bg-image
  .header__top
    .header__phone-wrp +7 (495) 200-22-44
    .header__menu
      include menu/header-menu.pug
        //- .header__menu.wrp__inner
  .header__main
    .header__logo-wrp.logo
      .header__logo.logo__inner
        include ../../assets/svg/logo_weareteam.svg
    .header__main-box.box wearechampions
      .box__wrapper
        nav.header__main-list
          a.header__main-item(href='#') Команда
          a.header__main-item(href='#') Проекты
        .header__main-services.services
          .services__title Наши услуги
          .services__item.mb30.mt55 blablabla
          .services__item.mb30 blablabla
          .services__item.mb30 blablabla
          .services__item.mb30 blablabla
